@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root{
    --medium-purple: #7B4AE2;
}

body{
    background-color: #090E16;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.personal_container{
    max-width: 1536px;
    width: 90%;
}